<section>
  <h1>Recipe List</h1>
  <%= link_to 'Add Recipe', new_recipe_path, class: 'btn' %>
  <% user_has_recipes = false %>
  <div class="recipe-card-wrapper">
    <% @recipes.each do |recipe| %>
      <% if recipe.user == current_user %>
        <% user_has_recipes = true %>
        <div class="recipe-card">
          <%= link_to recipe_path(recipe) do %>
          <h2><%= recipe.name %> </h2>
          <% end %>
          <%= form_with model: recipe, url: recipe_path(recipe), method: :delete do |f| %>
            <%= f.submit 'Remove', class: 'btn btn-danger' %>
          <% end %>
          <p><%= recipe.description %> </p>
        </div>
      <% end %>
    <% end %>
  </div>
  <% unless user_has_recipes %>
    <p>You have no recipes.</p>
  <% end %>
</section>