<section>
  <h1><%= @recipe.name %> </h1>
  <section>
    <p>Preparation time: <%= @recipe.preparation_time %> </p>
    <p>cooking time: <%= @recipe.cooking_time %> </p>
    <p>Steps:</p>
    <p><%= @recipe.description %> </p>
  </section>
  <%= link_to 'Generate shopping list' %>
  <%# if current_user == @recipe.user_id do %>
    <%= link_to 'Add food', new_food_path %>
  <%# end %>
  <section>
    <%= render 'partials/recipe_table' %>
  </section>
</section>